h1 {
	width: 50%;
	margin: 10px auto;
	text-align: center;
}

table {
	width: 300px;
	margin: 0 auto;
}

td {
	width: 100px;
}

tr {
	height: 100px;
}

.horizontal {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.vertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}
